.textStyle {
    font-size: 25px;
    color: black;
    margin-bottom: 0
  }
.ButtonStyle {
    cursor: pointer;
    borderRadius: 3px;
    text-align: center;
    padding: 10px 15px;
    color: #fff;
    border: 0;
    font-size: 14px;
    margin: 0 25px;
    background: #289fd6;
    user-select: none;
  }
.containerStyle  {
    font-size: 15px;
    color: black;
    border:1px solid pink;
    height:100%;
    width:100%;
    background: #F4F7FA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
  }

 .subTextStyle {margin: 10px auto}